/* Default tab style */

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}


.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	font-family: 'stroke7pixeden';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
	background-image: url("../img/dna-structure.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 12%; 
    height: 0;
    padding-bottom: 12%;    
    content:" ";
}
.icon-home::before {
	background-image: url("../img/clipboard.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 15%; 
    height: 0;
    padding-bottom: 15%;    
    content:" ";
}
.icon-display::before {
	background-image: url("../img/test-tube.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 15%; 
    height: 0;
    padding-bottom: 15%;    
    content:" ";
}

.icon-book::before {
	background-image: url("../img/book.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 15%; 
    height: 0;
    padding-bottom: 15%;    
    content:" ";
}

/* VERTICAL NAV*/
.icon-bacteria::before {
	background-image: url("../img/bacteria.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 15%; 
    max-width: 35px;
    height: 0;
    padding-bottom: 15%;    
    content:" ";
}
.icon-virus::before {
	background-image: url("../img/virus1.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 15%; 
    max-width: 35px;
    height: 0;
    padding-bottom: 15%;    
    content:" ";
    overflow-y: auto;
}
.icon-fungi::before {
	background-image: url("../img/fungi.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 15%; 
    max-width: 35px;
    height: 0;
    padding-bottom: 15%;    
    content:" ";
}
.icon-protozoo::before {
	background-image: url("../img/protozoa.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 15%; 
    max-width: 35px;
    height: 0;
    padding-bottom: 15%;    
    content:" ";
}
.icon-invertebrate::before {
	background-image: url("../img/invertebrate.png");
	display: inline-block;
	color: black;
	background-size: 100%;	
	background-repeat: no-repeat;    
    width: 15%; 
    max-width: 35px;
    height: 0;
    padding-bottom: 15%;    
    content:" ";
}

.items::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	font-family: 'stroke7pixeden';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.items nav a{
	position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
}

/* tabs */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: vertical;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}


.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.6;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

/* Content */
div#contenido {
	position: absolute;
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
    
}


.content-wrap {
	position: relative;
	height: 90%;
	bottom: 0;
	right: 0;
	left: 0;
	margin-right: 0;
	overflow: hidden;

}

.content-wrap section {
	display: none;
	margin: 0 0;
	padding: 0 0 1em;
	max-width: 1200px;
	max-width: 70%;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}

.content-wrap section div {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

div > object {
	width:100%;
	height:100%;
	margin:0;
	padding:0;

}

.results{
	float:right;
	height: 100%;
	margin-right: 0;
}

.items.vertical-nav{
	margin-right: 0;
	float:left;
}


@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}

}
@media screen and (max-width: 100em) {
/*
	.items nav {
		text-align: center;
	}

	.items nav a.icon span{
		display:none;
	}

	.items nav a{
		padding: 0;
	}

	.items nav a:before{
		margin-right: 0;
		margin-top: 0;
		width: 50%;		
		padding-bottom: 50%;
		display: inline-block;

	}
	*/
}

